[package]
name = "downloader"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5.53", features = ["derive"] }
dotenv = "0.15.0"
reqwest = {  version = "0.12.24", features = ["blocking", "cookies"] }
